<p style="color: green"><%= notice %></p>

<%= render @noticium %>

<div>
  <%= link_to "Edit this noticium", edit_noticium_path(@noticium) %> |
  <%= link_to "Back to noticia", noticia_path %>

  <%= button_to "Destroy this noticium", @noticium, method: :delete %>
</div>
